*{
    
    margin:0;
    padding:0;
}

body {
    font-family: Brush Script MT;
}
.header
{
  height:60px;
  background-color:black;
}
.head_img{
    float:left;
    width:200px;
}
.head_nav{
    width:700px;
    list-style:none;
    float:left;
}
.head_nav li{
    display:inline;
    margin-left:50px;
    padding:10px;
}
.head_nav li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
.head_nav li a:hover{
    color:#009688;
}
.social{
    color:white;
    font-size:24px;
}
.social i{
    padding-left:20px;
}
.social a{
    color:white;
}
.social a:hover{
    color:#009688;
}
.nav{
  margin-top:30px;
  border:3px solid #009688 ;
}
.section{
    margin-top:30px;
    margin-left:25%;
    margin-right:25%;
    width:50%;
    height:300px;
}

.sec_img{
    border-radius:100%;
    width:180px;
    height:190px;
}
.sec_content{
    margin-left:50px;
    text-align:top;
}
.contents{
    
}
.footer{
    
}

