*{
    
    margin:0;
    padding:0;
}

body {
    font-family: Brush Script MT;
    background-color: lightgrey;
  
}
.head-img{
    
    border:1px solid red;
    border-radius:100%;
   
}
.header
{
    
    border:1px solid red;
}
.header-text
{
   margin-top:0px;
    
}

