*{
    
    margin:0;
    padding:0;
}

body {
    font-family: Brush Script MT;
   
}
.header
{
    border:1px solid green;   
    height:300px;
    
}
.nav{
    margin-top:10px;
   border:1px solid green; 
}
.section{
    
}
.content{
    
}
.footer{
    
}

